.smaily-connect-admin-settings {
  font-family: Manrope;
  font-size: 13px;
  color: #1d2327;
  letter-spacing: 2%;
}

.smaily-connect-admin-notice {
  background-color: #fff3f6;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.smaily-connect-admin-notice.notice-error {
  border-left: 4px solid #e91e63;
}

.smaily-connect-admin-settings input[type="text"],
.smaily-connect-admin-settings input[type="password"],
.smaily-connect-admin-settings input[type="number"],
.smaily-connect-admin-settings select {
  width: 300px;

  &:focus {
    box-shadow: none;
    border-color: #e91e63;
  }
}

.smaily-connect-admin-settings select {
  &:hover {
    color: #c21a4f;
  }

  &:focus {
    color: #c21a4f;
  }
}

.smaily-connect-admin-tab-content option {
  color: #1d2327;
  appearance: none;
}

.smaily-connect-admin-settings input[type="checkbox"] {
  box-shadow: none;

  &:focus {
    box-shadow: none;
    border-color: #e91e63;
  }

  &:checked {
    &::before {
      content: "✔";
      display: block;

      text-align: center;
      line-height: 20px;
      color: #e91e63;
      border-radius: 50%;
    }
  }
}

.smaily-connect-admin-settings a {
  font-weight: 500;
  color: #e91e63;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    color: #c21a4f;
  }
}

.smaily-connect-admin-settings small {
  display: block;
}

.smaily-connect-admin-settings .button {
  border-radius: 5px;
  padding: 6px 12px;
  text-transform: capitalize;
  font-weight: 600;

  &:hover {
    background-color: #c21a4f;
    border-color: #c21a4f;
  }

  &:active {
    background-color: #c21a4f;
    border-color: #c21a4f;
  }

  &:focus {
    background-color: #c21a4f;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #c21a4f;
  }
}

.smaily-connect-admin-settings .button-primary {
  background-color: #e91e63;
  border-color: #e91e63;
}

.smaily-connect-admin-settings .button-secondary {
  color: #e91e63;
  border-color: #e91e63;

  &:hover {
    background-color: white;
    color: #c21a4f;
    border-color: #c21a4f;
  }

  &:active {
    background-color: white;
    color: #c21a4f;
    border-color: #c21a4f;
  }

  &:focus {
    color: #c21a4f;
    background-color: white;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #c21a4f;
  }
}

.smaily-connect-admin-tab {
  display: inline-block;
  padding: 0 20px;
  line-height: 66px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}

.smaily-connect-admin-tab-active {
  border-bottom: 1px solid #e91e63;
}

.smaily-connect-admin-tab-content {
  margin-top: 20px;
  padding: 20px 30px;
  padding-bottom: 60px;
  background-color: white;
}

.smaily-connect-admin-tab-content h2 {
  font-size: 1.8em;
}

/* every new section except the first one */
.smaily-connect-admin-tab-content h2:not(:first-of-type) {
  margin-top: 40px;
}

.smaily-connect-admin-tab-content h3 {
  font-size: 1.2em;
}

.smaily-connect-admin-tab-content section {
  max-width: 560px;
}

.smaily-connect-admin-tab-content ol li {
  margin-bottom: 10px;
}

.smaily-connect-subscriber-collection-list ::marker {
  font-size: 1.2em;
  font-weight: 600;
}

.smaily-connect-admin-form-field {
  padding-bottom: 10px;
  max-width: 310px;
}

.smaily-connect-admin-tab-nav {
  display: flex;
  align-items: center;
  background-color: white;
  height: 66px;
  padding-left: 30px;
}

.smaily-connect-admin-tab-nav a {
  color: #1d2327;
  font-weight: 700;

  &:hover {
    color: #1d2327;
    border-bottom: 1px solid #e91e63;
  }
}

.smaily-connect-admin-tab-logo {
  padding-right: 20px;

  svg {
    margin-top: 3px;
  }
}

#smaily-connect-additional-information {
  #user_gender_field {
    > span {
      display: flex;
      flex-direction: column;

      > input {
        margin-bottom: 4px;
      }

      > label {
        margin-bottom: 10px;
      }
    }
  }
}
